.basket-button {
    width: 285px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #f78e10;
}

.basket-button:hover {
  background-color: #af6a1a;
  color: white;
}

.basket {
    width: 100%;
    height: 800px;
    position: sticky;
    top: 0;
    border: 2px solid gray;
}

.shopping-card {
    width: 300px;
    flex-grow: 1;
    padding: 16px;
}

.basketInfo{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 15px 0px;
    border-bottom: 1px solid #0000003d;
}

.delete-button{
    height: 20px;
}