.basket-button, .basket-button-resp {
    width: 285px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #b95e00bf;
    color: #ffffff;
    border: 2px solid #000000;
}

.basket-button:hover, .basket-button-resp:hover {
    background-color: #860000;
    color: rgb(185, 23, 23);
    cursor: pointer;
}


.basket {
    width: 100%;
    height: 850px;
    position: sticky;
    top: 5px;
    border: 2px solid gray;
}

.shopping-card {
    width: 300px;
    flex-grow: 1;
    padding: 16px;
}

.basketInfo{
    align-content: center;
    border-bottom: 1px solid #0000003d;
}

.delete-button{
    height: 20px;
}

.delete-button:hover {
    background-color: rgba(40, 32, 32, 0.477);
    color: white;
    cursor: pointer;
}

.totalPrice {
    border-top: 5px solid #00000057;
    font-weight: 600;
    padding-top: 15px;
    }

#subTotal {
    margin-right: 5px;
}

.basket-amount-counter{
    display: flex;
    gap: 10px;
}

.basket-pls-button, .basket-mns-button {
    background-color: #836b82;
    border: none;
    color: #ffffff;
    padding: 3px 7px;
}

.basket-pls-button:hover {
    background-color: orange;
    color: black;
    cursor: pointer;
}

.basket-mns-button:hover {
    background-color: aquamarine;
    cursor: pointer;
}

.basket-second-line {
    display: flex;
    justify-content: space-around;
    padding: 5px 10px;
}

h4 {
    font-size: 20px;
    text-decoration: underline;
    padding-bottom: 10px;
    border-bottom: 5px solid #edededf7;
    padding-left: 4px;
    margin-block-end: 0;
}

.basket-header{
    text-align: center;
    background-color: orange;
    padding: 10px;
}

h3 {
    padding-left: 4px;
}

.resp-button {
    padding-bottom: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.basket-card-button:hover {
    background-color: rgb(255, 89, 0);
    cursor: pointer;
}

.basket-card-button {
    border: none;
    background-color: #ff7c30;
    width: 300px;
    padding: 15px;
}