header {
    display: flex;
    justify-content: space-between;
    background-color: #b95300;
    height: 70px;
}

.app-logo {
    padding: 10px;
    height: 50px;
}

.nav-menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

nav {
    padding: 15px;
}

.section-top{
    display: flex;
    position: relative;
}

.section-top-text {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 120px;
}

.resteraunt-img{
    width: 100%;
    height: auto;
}