.main-header {
    display: flex;
    justify-content: space-between;
    background-color: #b95300;
    height: 100px;
}

.app-logo {
    padding: 10px;
}

.nav-menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.nav {
    padding: 30px;
}

.section-top{
    display: flex;
    position: relative;
}

.section-top-text {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 175px;
}

.resteraunt-img{
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.p-review {
    color: orangered;
}

menu {
    margin-block-start: 0;
    margin-block-end: 0;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dd5002b8;
}

.selection-top-meu ul li {
    padding: 20px 60px;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    background-color: #e95d06eb;
}

.menuList {
    background-color: blue;
    color: red;
}

.dishInfo {
    border: 4px solid #9d8972;
    padding: 17px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;
}

.shopping-card {
    width: 300px;
    flex-grow: 1;
    padding: 16px;
}

.centralPart {
    display: flex;
    padding-bottom: 50px;
}

#mainDishes {
    width: calc(100% - 300px);
}

.basket {
    width: 100%;
    height: 400px;
    position: sticky;
    top: 0;
    border: 2px solid gray;
}

.main-footer {
    font-size: 24px;
    color: white;
    background-color: #b95300;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addToBasket {
    border-radius: 45px;
    line-height: 1em;
    box-shadow: 0 0 14px 0 #000000c4;
    background-color: #ffa483;
    font-size: 24px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 40px 24px;
    font-weight: bolder;
}

p {
    font-size: 20px;
}

span {
    font-size: 20px;
}