.main-header {
    display: flex;
    justify-content: space-between;
    background-color: #b95300;
    height: 100px;
}

.app-logo {
    padding: 10px;
}

.nav-menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.nav {
    padding: 30px;
}

.section-top{
    display: flex;
    position: relative;
}

.section-top-text {
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 175px;
}

.resteraunt-img{
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.p-review {
    color: orangered;
    text-align: center;
}

h1 {
    text-align: center;
}

.mainCourses{
    padding-left: 10px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    background-color: #b93a00a8;
}

menu {
    margin-block-start: 0;
    margin-block-end: 0;
}

.menuList {
    background-color: blue;
    color: red;
}

.dishInfo {
    border: 4px solid #9d8972;
    padding: 17px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;
}

.centralPart {
    display: flex;
    padding-bottom: 50px;
}

#mainDishes {
    width: calc(100% - 300px);
}

.main-footer {
    font-size: 24px;
    color: white;
    background-color: #b95300;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addToBasket {
    border-radius: 45px;
    line-height: 1em;
    box-shadow: 0 0 14px 0 #000000c4;
    background-color: #ffa483;
    font-size: 24px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 40px 24px;
    font-weight: bolder;
}

.addToBasket:hover {
    background-color: rgb(222, 137, 101);
    cursor: pointer;
}

p {
    font-size: 20px;
    padding-left: 4px;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

span {
    font-size: 20px;
    padding-left: 4px;
}

.icon-resteraunt{
    box-shadow: inset 5px -1px 14px 0px rgb(229 229 229);
    left: 48%;
    top: 64%;
    border-radius: 26%;
    background-color: #ffffff;
    position: absolute;
    width: 50px;
    height: 50px;
}


