header {
    display: flex;
    justify-content: space-between;
    background-color: #b95300;
    height: 70px;
}

.app-logo {
    padding: 10px;
    height: 50px;
}

.nav-menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.nav {
    padding: 15px;
}

.section-top{
    display: flex;
    position: relative;
}

.section-top-text {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 120px;
}

.resteraunt-img{
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.section-top-menu {
    position: absolute;
    bottom: 25px;
    background-color: white;
    width: 100%;
}

.p-review {
    color: orangered;
}

menu {
    margin-block-start: 0;
    margin-block-end: 0;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dd5002b8;
}

ul li {
    padding: 20px 60px;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    background-color: #e95d06eb;
}

.menuList {
    background-color: blue;
    color: red;
}

.mainDish {
    width: 75%;
    border: 15px solid #ff9c2d;
    padding: 17px;
    margin: 5px;
}


.shopping-card {
    width: 300px;
    flex-grow: 1;
    border: 2px solid grey;
    padding: 16px;
}